<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    RewriteCond %{HTTP:X-Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_X_AUTHORIZATION:%1]
</IfModule>

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
SetEnvIf X-Authorization "(.*)" HTTP_X_AUTHORIZATION=$1
